{% extends "base.html" %}
{% block title %}Login | Bakely{% endblock %}

{% block content %}
  <div class="min-h-screen flex items-center justify-center bg-red-100 px-4">
  <div class="bg-white p-8 rounded-xl shadow-md w-full max-w-md text-center">

    <h1 class="text-3xl font-bold text-pink-600 mb-2 font-[cursive]">Login</h1>
    <p class="text-sm text-gray-500 mb-6">Welcome Back to Bakely. </p>

    <form method="POST" action="" class="space-y-4">
      {{ form.hidden_tag() }}

      <div class="text-left">
        {{ form.username.label(class="block text-sm font-medium text-gray-700") }}
        {{ form.username(class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-pink-400 focus:ring-pink-300", size=32) }}
      </div>

      <div class="text-left">
        {{ form.password.label(class="block text-sm font-medium text-gray-700") }}
        {{ form.password(class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-pink-400 focus:ring-pink-300", size=32) }}
      </div>

      <div>
        {{ form.submit(class="w-full bg-pink-500 hover:bg-pink-600 text-white font-semibold py-2 px-4 rounded-md transition") }}
      </div>
    </form>

    <p class="mt-4 text-sm text-gray-600">
      Don’t have an account?
      <a href="{{ url_for('register') }}" class="text-yellow-500 hover:text-yellow-600 font-medium">Sign Up</a>
    </p>
  </div>
</div>
{% endblock %}
